<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.chd.system.analysis_management.CropAnalysisMapper">
    <insert id = "insert" parameterType="kr.co.chd.system.analysis_management.CropAnalysis">
        INSERT INTO CROP_ANALYSIS_INFO
            (GROWTH,CROP_SIDE_IMAGE,CROP_VERTICAL_IMAGE)
        VALUES(#{growth},#{cropSideImageURL},#{cropVerticalImageURL});
    </insert>

    <select id = "selectAll" resultType="kr.co.chd.system.analysis_management.CropAverage">
        SELECT DATE_FORMAT(ENVIR.DATE_TIME,'%Y.%m.%d') AS date ,ROUND(AVG(ENVIR.ILLUMINANCE),1) AS illuminanceAvg, (ANALYSIS.GROWTH) AS growthAvg FROM CROP_ANALYSIS_INFO ANALYSIS ,CROP_ENVIR_INFO ENVIR
        WHERE ANALYSIS.ANALYSIS_NO = ENVIR.ENVIR_NO
        GROUP BY DATE_FORMAT(ENVIR.DATE_TIME,'%Y/%M/%D')
        ORDER BY date DESC
        LIMIT 0,10
    </select>

    <select id = "select" parameterType="String" resultType="kr.co.chd.system.analysis_management.CropAverage">
        SELECT DATE_FORMAT(ENVIR.DATE_TIME,'%Y.%m.%d') AS date ,ROUND(AVG(ENVIR.ILLUMINANCE),1) AS illuminanceAvg, (ANALYSIS.GROWTH) AS growthAvg FROM CROP_ANALYSIS_INFO ANALYSIS ,CROP_ENVIR_INFO ENVIR
        WHERE ANALYSIS.ANALYSIS_NO = ENVIR.ENVIR_NO
        GROUP BY DATE_FORMAT(ENVIR.DATE_TIME,'%Y/%M/%D')
        <if test = "!value.equals('') and value != null">
            HAVING date like '%${value}%'
        </if>
        ORDER BY date DESC
    </select>

    <select id = "selectByNo" parameterType="int"  resultType="kr.co.chd.system.analysis_management.CropAverage">
        SELECT DATE_FORMAT(ENVIR.DATE_TIME,'%Y.%m.%d') AS date ,ROUND(AVG(ENVIR.ILLUMINANCE),1) AS luxAvg, (ANALYSIS.GROWTH) AS growthAvg FROM CROP_ANALYSIS_INFO ANALYSIS ,CROP_ENVIR_INFO ENVIR
        WHERE ANALYSIS.ANALYSIS_NO = ENVIR.ENVIR_NO
        GROUP BY DATE_FORMAT(ENVIR.DATE_TIME,'%Y/%M/%D')
        ORDER BY date DESC
        LIMIT #{no},10
    </select>

    <select id = "selectByDate" parameterType="String" resultType="kr.co.chd.system.analysis_management.CropInfo">
        SELECT DATE_FORMAT(ENVIR.DATE_TIME,'%Y.%m.%d') AS date, DATE_FORMAT(ENVIR.DATE_TIME,'%H:%i') AS time, ENVIR.ILLUMINANCE AS illuminance, ENVIR.HORIZONTAL_ANGLE AS horizontalAngle, ENVIR.VERTICAL_ANGLE AS verticalAngle,
        ANALYSIS.GROWTH AS growth, ANALYSIS.CROP_SIDE_IMAGE AS cropSideImageURL , ANALYSIS.CROP_VERTICAL_IMAGE AS cropVerticalImageURL
        FROM CROP_ANALYSIS_INFO ANALYSIS ,CROP_ENVIR_INFO ENVIR
        WHERE ANALYSIS.ANALYSIS_NO = ENVIR.ENVIR_NO
          AND  DATE_FORMAT(ENVIR.DATE_TIME,'%Y.%m.%d') like #{value}
        ORDER BY date DESC
    </select>

    <select id="selectRGB" resultType="kr.co.chd.system.analysis_management.CropData">
        SELECT AVG(CROP_SIDE_R) AS cropSideR,
               AVG(CROP_SIDE_G) AS cropSideG,
               AVG(CROP_SIDE_B) AS cropSideB,
               AVG(CROP_VERTICAL_R) AS cropVerticalR,
               AVG(CROP_VERTICAL_G) AS cropVerticalG,
               AVG(CROP_VERTICAL_B) AS cropVerticalB
        FROM CROP_ANALYSIS_DATA
    </select>

</mapper>
