<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.chd.system.analysis_management.EnvirMapper">
<<<<<<<<< Temporary merge branch 1
    <insert id = "insert" parameterType="kr.co.chd.system.analysis_management.EnvirInfo">
        INSERT INTO CROP_ENVIR_INFO
        VALUES(NULL,sysdate(),#{lux},#{verticalAngle},#{horizontalAngle})
=========
    <insert id="insert" parameterType="kr.co.chd.system.analysis_management.EnvirMapper">
        INSERT INTO CROP_ENVIR_INFO
            VALUES(null, #{DATE_TIME}, #{ILLUMINANCE}, #{VERTICAL_ANGLE}, #{HORIZONTAL_ANGLE})
>>>>>>>>> Temporary merge branch 2
    </insert>
</mapper>