<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.chd.facility.DataMapper">
    <select id="selectAll" resultType="kr.co.chd.facility.CropData">
        SELECT AVG(CROP_SIDE_R) AS CROP_SIDE_R, AVG(CROP_SIDE_G) AS CROP_SIDE_G, AVG(CROP_SIDE_B) AS CROP_SIDE_B, AVG(CROP_VERTICAL_R) AS CROP_VERTICAL_R, AVG(CROP_VERTICAL_G) AS CROP_VERTICAL_G,  AVG(CROP_VERTICAL_B) AS CROP_VERTICAL_B
        FROM CROP_ANALYSIS_DATA
    </select>
</mapper>